body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: linear-gradient(to right, rgb(14,39,67), #141c25);       
  height: 100vw; */
  /* backgroundImage: `url("https://wallpaperaccess.com/full/4178252.jpg")` */
  background-image: url("https://wallpaperaccess.com/full/4178252.jpg");
  background-size: 100%;
  object-fit: fill
 
  

}

/* .btn {
  color: red !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nopadding {
  padding-left: 0%;
}